* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #faf9c2;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  height: 100%;
}

.navlinks .navlink {
  list-style: none;
}

.navlinks .navlink a {
  font-size: 16px;
  text-decoration: none;
  color: #524c45;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo {
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 20px;
  letter-spacing: 3px;
}

.hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.line {
  background-color: #797979;
  height: 3px;
  width: 40px;
  margin: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.line:nth-child(2) {
  background-color: #797979;
  height: 3px;
  width: 30px;
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    padding-right: 20px;
  }
  .line {
    width: 40px;
  }
  .toggle {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .toggle:nth-child(1) {
    width: 30px;
    position: absolute;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .toggle:nth-child(2) {
    display: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .toggle:nth-child(3) {
    width: 30px;
    -webkit-transform: rotate(40deg) translateY(0%);
            transform: rotate(40deg) translateY(0%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .logo {
    padding-left: 20px;
  }
  nav {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navlinks {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
    height: 100%;
    background-color: #faf9c2;
    top: 0;
    right: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(10px at 100% 0%);
            clip-path: circle(10px at 100% 0%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    /* transform: translateY(100%); */
  }
  .navlinks .navlink {
    opacity: 0;
  }
  .navlinks.active {
    -webkit-clip-path: circle(700px at 100% 0%);
            clip-path: circle(700px at 100% 0%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .navlinks .navlink:nth-child(1) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .navlinks .navlink:nth-child(2) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .navlinks .navlink:nth-child(3) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .navlinks .navlink:nth-child(4) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .navlink.fade {
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
}

/**
 * Front Page Template
 */
/*# sourceMappingURL=main.css.map */